[Unit]
Description=Launches collect_vmware_availability.sh which in turn launches collect_vmware_availability.py
Wants=network-online.target
After=multi-user.target network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/profile.d/credstore.sh
ExecStart=/u01/code/vsphere_performance_collector/services/collect_vmware_availability.sh
Restart=always
RestartSec=3s

[Install]
WantedBy=startuplast.target

