[Unit]
Description=Launches get_vm_metrics.py
Wants=network-online.target
After=multi-user.target network-online.target

[Service]
Type=simple
ExecStart=/u01/git_repo/ucgmetrics_scripts/metrics_collection/services/get_esxmetrics.sh
Restart=always
RestartSec=10s

[Install]
WantedBy=startuplast.target

